@import "tailwindcss";

@font-face {
    font-family: "Rubik";
    src: url('../public/font/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../public/font/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@theme {
    /** BreakPoints **/
    --breakpoint-xs: 22.5rem;
    /** Fonts **/
    --font-rubik: "Rubik", sans-serif;
    /** Colors **/
    --color-primary: #2563EB;
    --color-primary-shadow: #2563EB38;
    --color-secondary: #10B981;
    --color-cta: #F59E0B;
    --color-cta-shadow: #F59E0B38;
    --color-text: #1F2937;
    --color-text-secondary: #7385AF;
    --color-body-bg: #F7F9FE;
    --color-border: #d7ddef;
    --color-button: oklch(96.8% 0.007 247.896);
    /** Shadows **/
    --shadow-regular: 0 20px 16px -16px #7385af75;
    --shadow-primary: 0 20px 16px -16px #2563EB80;
    --shadow-secondary: 0 20px 16px -16px #10B98180;
    --shadow-cta: 0 20px 16px -16px #F59E0B80;
    /** Animations **/
    --animate-indicator: indicator 1s infinite;

    @keyframes indicator {
        0%, 100% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(.8,0,1,1);
        }
        50% {
          transform: translateY(.6875rem);
          animation-timing-function: cubic-bezier(0,0,.2,1);
        }
    }
}

@utility container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

@media (min-width: 360px) {
    .container {
        max-width: 100%;
        min-width: 20rem;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 36rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 44rem;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 60rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 80rem;
    }
}

@layer base {
    * {
        color: var(--color-text);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: var(--font-rubik);
        background-color: var(--color-body-bg);
    }
    ::selection {
        background-color: var(--color-primary);
        color: #fff;
    }
}